*.pyc
*.xml
*.xml
*.ini
*.o
*.so
*.pkl
*.csv
*.txt

.python-version

simulations
simulations/
Simulations
Simulations/

__pycache__/
errors/
figures/
data/
logs/
srun_test/
.idea/
.python-version
!requirements.txt
